attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
cffi==1.17.1
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
crcmod==1.7
Cython==3.0.11
dl==0.1.0
docutils==0.21.2
filelock==3.17.0
grpc_reflection
grpc_tools
h2==4.1.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.5
jnius==1.1.0
js==1.0
keyring==25.6.0
libcst==1.6.0
numpy==2.2.2
oauth2client==4.1.3
Pillow==10.3.0
Pillow==10.3.0
pyodide==0.0.2
pyOpenSSL==25.0.0
python_bcrypt==0.3.2
pyu2f==0.1.5
railroad==0.5.0
redis==5.2.1
simplejson==3.19.3
Sphinx==8.1.3
tensorflow==2.18.0
thread==2.0.5
trove_classifiers==2025.1.15.22
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0
firebase-admin==6.2.0
psycopg2==2.9.3
apache-airflow==2.5.0
requests==2.28.1
google-cloud-sdk==0.2.1
flask==2.2.2
gunicorn==20.1.0
pandas==1.4.1
sqlalchemy==1.4.39
pyyaml==6.0
google-cloud-firestore==2.7.0
google-cloud-storage==2.5.0
google-auth==2.16.2
google-auth-oauthlib==0.8.0
yahoo-finance==1.4.0
yahoo_fin==0.8.9.1
google-cloud-bigquery==2.28.1
apache-airflow[celery]==2.5.0
apache-airflow-providers-celery>=3.3.0