assets/projects/about_me_chatbot/lambda_package/*
.DS_Store
.venv/
venv/
lambda_package/
assets/projects/about-me-chat-bot/lambda_package/*
assets/projects/mjl/lambda_package/*
# Ignore all files in the lambda_package directory