files:
  "/var/app/current/Procfile":
    mode: "000644"
    owner: "webapp"
    group: "webapp"
    content: |
      web: cd /var/app/current && /var/app/venv/bin/gunicorn --workers 3 --timeout 120 --log-level=info --bind 127.0.0.1:8000 application:application

container_commands:
  01_force_procfile:
    command: "chown webapp:webapp /var/app/current/Procfile && chmod 644 /var/app/current/Procfile"
