packages:
  yum:
    python3.11: []
    python3.11-pip: []

container_commands:
  move_files:
    command: |
      cp -r /var/app/staging/* /var/app/current/
      chown -R webapp:webapp /var/app/current/

  create_virtualenv:
    command: "mkdir -p /var/app/venv && python3.11 -m venv /var/app/venv"
    leader_only: true

  fix_permissions:
    command: |
      if [ -d /var/app/venv ]; then
        chown -R webapp:webapp /var/app/venv/
        chmod -R 775 /var/app/venv/
      fi

  install_requirements:
    command: |
      if [ -f /var/app/staging/requirements.txt ]; then
        source /var/app/venv/bin/activate
        /var/app/venv/bin/pip install --no-cache-dir -r /var/app/staging/requirements.txt
      else
        echo "ERROR: requirements.txt not found!" >&2
        exit 1
      fi

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:autoscaling:launchconfiguration:
    EC2KeyName: new-key-pair
