packages:
  yum:
    python3.11: []
    python3.11-pip: []

container_commands:
  01_move_requirements:
    command: |
      if [ -f /var/app/current/assets/projects/about-me-chat-bot/requirements.txt ]; then
        cp /var/app/staging/assets/projects/about-me-chat-bot/requirements.txt /var/app/current/requirements.txt
      fi

  02_move_application:
    command: |
      if [ -f /var/app/staging/assets/projects/about-me-chat-bot/application.py ]; then
        sudo mv /var/app/staging/assets/projects/about-me-chat-bot/application.py /var/app/current/application.py
      fi

  03_create_venv:
    command: "mkdir -p /var/app/venv && python3.11 -m venv /var/app/venv"
    leader_only: true

  04_fix_permissions:
    command: |
      if [ -d /var/app/venv ]; then
        chown -R webapp:webapp /var/app/venv/
        chmod -R 775 /var/app/venv/
      fi

  05_install_requirements:
    command: "sudo -u webapp /var/app/venv/bin/pip install --no-cache-dir -r /var/app/current/requirements.txt"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: assets.projects.about-me-chat-bot.application:application
  aws:autoscaling:launchconfiguration:
    EC2KeyName: new-key-pair
