packages:
  yum:
    python3: []
    python3-pip: []

container_commands:
  01_create_venv:
    command: "python3 -m venv /var/app/staging/venv"
  02_activate_venv:
    command: "source /var/app/staging/venv/bin/activate && pip install -r requirements.txt"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application